body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin:0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, .2);
          box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, .2);
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-logo {
  position: absolute;
  left: 50%;
  margin-left:-70px;
  cursor: pointer;
  z-index: 1;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 15px 0;
  list-style: none;
}

.navigation-list li {
  width: 240px;
  text-align: center;
}

.navigation-list li:nth-child(4n-2) {
  margin-right: 240px;
}

.padding-container a {
  padding-left: 17px;
}

.navigation-list a {
  color: #000000;
}

.navigation-list a:focus,
.navigation-list a:hover {
  color: #81b3d2;
}

.navigation-list a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-current a {
  color: #8d7e75;
}

.greeting {
  position: relative;
  background: url("../img/background.jpg") no-repeat top center;
  background-color: #81b3d2;
  text-align: center;
  padding-top: 76px;
  padding-bottom: 74px;
  margin-bottom: 60px;
}

.greeting::after {
  position: absolute;
  content: "";
  width: 1200px;
  height: 57px;
  background: url("../img/mask.svg") no-repeat;
  left: 0;
  bottom: -1px;
}

.features {
  text-align: center;
  margin-bottom: 49px;
}

.features h3 {
  font-size: 21px;
  color: #000000;
}

.features-title {
  width: 441px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.features-reasons {
  margin: 0;
  padding: 0;
  line-height: 26px;
  margin-bottom: 50px;
}

.features-city,
.features-bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;
}

.features-block {
  width: 400px;
}

.features-block h3 {
  margin: 0 auto;
  margin-top: 47px;
  width: 151px;
  color: #ffffff;
}

.features-block p {
  width: 304px;
  margin: 0 auto;
  margin-top: 24px;
}

.features-block p:last-child {
  margin-top: 20px;
  margin-bottom: 39px;
}

.features-city-img {
  width: 800px;
}

.features-city-img img,
.features-bridge-img img {
  display: block;
}

.features-list-sedona,
.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item-sedona,
.features-item {
  width: 400px;
}

.features-item-sedona h3 {
  position: relative;
  margin: 0;
  margin-top: 160px;
}

.features-item-sedona:first-child h3::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-house.svg");
  width: 75px;
  height: 72px;
  bottom: 47px;
  left: 50%;
  margin-left: -38px;
}

.features-item-sedona:nth-child(2) h3::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-food.svg");
  width: 74px;
  height: 70px;
  bottom: 47px;
  left: 50%;
  margin-left: -37px;
}

.features-item-sedona:last-child h3::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-souvenir.svg");
  width: 64px;
  height: 76px;
  bottom: 47px;
  left: 50%;
  margin-left: -32px;
}

.features-item-sedona p {
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 81px;
  width: 285px;
}

.features-list {
  background-color: #eeeeee;
}

.features-list h3 {
  margin: 0 auto;
  margin-top: 47px;
  width: 151px;
}

.features-list p {
  width: 264px;
  margin: 0 auto;
  margin-top: 24px;
}

.features-item:nth-child(3) p {
  width: 248px;
}

.features-list p:last-child {
  margin-top: 20px;
  margin-bottom: 60px;
}

.filters {
  color: #ffffff;
  background-image: url("../img/filter-background.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1067px;
  padding: 27px 73px;
  padding-bottom: 6px;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 389px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 38px;
}

.filter-option-second {
  margin-bottom: 25px;
  padding-left: 41px;
}

.filter-option label {
  position: relative;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-option-second label {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:focus + label::before {
  outline: 1px dashed #ffffff;
  outline-offset: 2px;
}

.filter-input-checkbox:disabled + label {
  color: #6a6a6a;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox:checked:disabled + label::before {
  width: 27px;
  background-image: url("../img/checkbox-on-disabled.svg");
}

.price-per-day {
  width: 320px;
  margin-right: 10px;
}

.price-per-day p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.price-item {
  position: relative;
  width: 315px;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-item label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-item .price-min {
  width: 93px;
  padding-left: 65px;
}

.price-item .price-max {
  width: 102px;
  padding-left: 54px;
}



.price-item  input {
  height: 30px;
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.filter-button {
  display: block;
  margin: 0 auto;
  margin-right: 97px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover {
  color: #000000;
  background: #ffffff;
}

.find {
  margin: 0;
  margin-right: 46px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting {
  padding: 30px 72px;
  padding-right: 73px;
  padding-bottom: 26px;
}

.sorting-name {
  margin: 0;
  margin-right: 41px;
  font-size: 12px;
  line-height: 30px;
  color: #000000;
}

.sorting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.find-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrows-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 34px;
}

.sorting-list,
.arrows-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item {
  padding-right: 33px;
}

.sorting-item a {
  font-size: 12px;
  line-height: 29px;
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item:first-child a {
  color: #81b3d2;
  opacity: 1;
  border: 0;
}

.sorting-item a:focus,
.sorting-item a:hover {
  color: #81b3d2;
  opacity: 1;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:active {
  color: #000000;
  border: 0;
}

li.arrows-item {
  padding-top: 4px;
}

.arrows-up:hover polygon,
.arrows-up:focus polygon,
.arrows-down:hover polyline,
.arrows-down:focus polyline {
  fill: #000000;
}

.arrows-up:active polygon,
.arrows-down:active polyline {
  fill: #81b3d2;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 73px;
  border-top: 1px solid #e5e5e5;
}

.hotel:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel p,
.hotel h3 {
  margin: 0;
}

.hotel-img img {
  display: block;
}

.hotel-img {
  margin-right: 28px;
}

.button-container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button-container {
  padding-right: 6px;
}

.description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 891px;
}

.about-hotel-container {
  width: 780px;
}

h3.hotel-name {
  margin-bottom: 7px;
  margin-top: -5px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-name:focus,
.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #000000;
  opacity: 0.3;
}

p.hotel-type {
  margin-bottom: 16px;
}

.more-info {
  padding: 4px 17px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  background-color: #81b3d2;
  border: 0;
}

.more-info:focus,
.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  color: #85b0cd;
  background-color: #5496bd;
}

p.hotel-price {
  margin-bottom: 16px;
}

.reservation-button {
  padding: 4px 17px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  background-color: #766357;
  border: 0;
}

.reservation-button:focus,
.reservation-button:hover {
  background-color: #604e43;
}

.reservation-button:active {
  color: #928a85;
  background-color: #503e33;
}

.rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 111px;
  max-width: 110px;
}

.stars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.stars-item {
  width: 18px;
  height: 17px;
  margin-left: 6px;
  background-image: url("../img/star.svg");
}

.rating {
  padding: 3px;
  padding-left: 16px;
  padding-right: 12px;
  color: #666666;
  background-color: #f2f2f2;
}

.search {
  text-align: center;
}

.search h2 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search p {
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 47px;
  width: 436px;
  line-height: 24px;
}

.search-open-form {
  display: inline-block;
  padding: 30px 0;
  width: 569px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: #766357;
}

.search-open-form:focus,
.search-open-form:hover {
  background-color: #604e43;
}

.search-open-form:active {
  color: #928a85;
  background-color: #503e33;
}

.map {
  position: relative;
}

.map iframe {
  position: relative;
  z-index: 2;
  display: block;
  border: none;
}

.map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.mini-map {
  display: block;
}

.main-footer {
  bottom: 0;
  z-index: 2;
  padding: 35px 0px;
  background-color: #ffffff;
  opacity: 0.9;
}

.main-page {
  position: absolute;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hashtag {
  margin: 0;
  width: 400px;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  width: 400px;
  color: #000000;
  font-size: 14px;
  text-align: center;
}

.copyright p {
  margin: 0;
  margin-right: 8px;
  line-height: 48px;
}

.website-by-logo {
  padding-top: 4px;
}

.logo-active:hover path,
.logo-active:focus path {
  fill: #81b3d2;
}

.logo-active:active path {
  fill: #bdbbbc;
}

.footer-social {
  width: 400px;
}

.footer-social ul {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  text-align: center;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.search-popup-close {
  display: none;
}

.modal-error {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

.search-popup {
  position: absolute;
  top: 0;
  left: 25%;
  z-index: 2;
  margin-left: 16px;
  width: 458px;
  padding: 55px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  -webkit-animation: drop 0.5s;
          animation: drop 0.5s;
}

.search-form {
  text-align: center;
}

.search-form label {
  padding-top: 5px;
}

.search-form input[type="text"],
.search-form input[type="number"] {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  width: 295px;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
}

.search-form input[type="text"] {
  height: 26px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
}

.search-form input[type="text"]::-webkit-input-placeholder {
  color: #000000;
}

.search-form input[type="number"] {
  text-align: center;
  width: 34px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.search-form input[type="text"]:hover,
.search-form input[type="number"]:hover {
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}

.search-form input[type="text"]:focus,
.search-form input[type="number"]:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  outline: none;
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.number-of-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 54px;
}

.date-enter-label {
  width: 92px;
}

.date-exit-label {
  width: 96px;
}

.date-enter {
  margin-bottom: 29px;
  margin-left: 19px;
}

.date-exit {
  margin-bottom: 29px;
  margin-left: 16px;
}

.calendar {
  height: 38px;
  width: 39px;
  padding: 0;
  border: 0;
  background-color: #f2f2f2;
  cursor: pointer;
}

.calendar g {
  fill: #cacaca;
}

.calendar:focus g,
.calendar:hover g {
  fill: #000000;
}

.calendar:active g {
  fill: #81b3d2;
}

.button-minus-kid,
.button-minus-adult {
  padding: 0;
  width: 38px;
  height: 38px;
  color: #a9a9a9;
  background: url("../img/minus.png") no-repeat center;
  background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}

.button-plus-kid,
.button-plus-adult {
  padding: 0;
  width: 38px;
  height: 38px;
  background: url("../img/plus.png") no-repeat center;
  background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}

.button-minus-adult {
  margin-left: 41px;
}

.button-minus-kid {
  margin-left: 27px;
}

.button-plus-kid:hover,
.button-plus-adult:hover,
.button-plus-kid:focus,
.button-plus-adult:focus {
  background: url("../img/plus-black.png") no-repeat center;
  background-color: #f2f2f2;
}

.button-plus-kid:active,
.button-plus-adult:active {
  background: url("../img/plus-blue.png") no-repeat center;
  background-color: #f2f2f2;
}

.button-minus-kid:hover,
.button-minus-adult:hover,
.button-minus-kid:focus,
.button-minus-adult:focus {
  background: url("../img/minus-black.png") no-repeat center;
  background-color: #f2f2f2;
}

.button-minus-kid:active,
.button-minus-adult:active {
  background: url("../img/minus-blue.png") no-repeat center;
  background-color: #f2f2f2;
}

.search-button {
  padding: 16px 196px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
  border: 0;
  cursor: pointer;
}

.search-button:focus,
.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  color: #94b9d2;
  background-color: #5496bd;
}
