body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin:0 auto;
  background-color: #ffffff;
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, .2);
}

.main-navigation {
  display: flex;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  padding: 17px 68px;
  list-style: none;
}

.navigation-list a {
  color: #000000;
}

.navigation-list a:focus,
.navigation-list a:hover {
  color: #81b3d2;
}

.navigation-list a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-current a {
  color: #8d7e75;
}

.greeting {
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
}

.features {
  text-align: center;
  margin-bottom: 53px;
}

.features h3 {
  font-size: 21px;
  color: #000000;
}

.features-title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.features-reasons {
  margin: 0;
  padding: 0;
  line-height: 26px;
  margin-bottom: 52px;
}

.features-city,
.features-bridge {
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;
}

.features-block {
  width: 400px;
}

.features-block h3 {
  color: #ffffff;
}

.features-city-img {
  width: 800px;
}

.features-city-img img,
.features-bridge-img img {
  display: block;
}

.features-list-sedona,
.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item-sedona,
.features-item {
  width: 400px;
}

.features-list {
  background-color: #eeeeee;
}

.filters {
  color: #ffffff;

  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #81b3d2;
}

.filter {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  padding: 27px 73px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  width: 397px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
}

.filter-input:disabled + label {
  color: #6a6a6a;
}

.price-container {
  display: flex;
  justify-content: space-between;
}

.price-per-day {
  width: 322px;
}

.price-per-day p {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.price-input {
  background-color: transparent;
  color: #ffffff;

  border: 0;
}

.filter-button {
  background-color: transparent;
  text-transform: uppercase;
  color: #ffffff;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-button:focus,
.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}

.find {
  margin: 0;
  margin-right: 54px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting-name {
  margin: 0;
  margin-right: 45px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
}

.find-container {
  display: flex;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  width: 243px;
}

.arrows-list {
  display: flex;
  justify-content: space-between;
  width: 34px;
}

.sorting-list,
.arrows-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting {
  padding: 26px 73px;
}

.sorting-item a {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;

  border-bottom: 1px dotted #81b3d2;
}

.sorting-item:first-child a {
  color: #81b3d2;
  opacity: 1;
  border: 0;
}

.sorting-item a:focus,
.sorting-item a:hover {
  color: #81b3d2;
  opacity: 1;

  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:active {
  color: #000000;

  border: 0;
}

.hotel {
  display: flex;
  padding: 6px 73px;
}

.hotel p,
.hotel h3 {
  margin: 0;
}

.hotel-img {
  margin-right: 30px;
}

.button-container-list {
  display: flex;
  justify-content: space-between;
  width: 258px;
}

.hotel-container {
  display: flex;
  justify-content: space-between;
  width: 891px;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-name:focus,
.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #000000;
  opacity: 0.3;
}

.more-info {
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;

  background-color: #81b3d2;
  border: 0;
}

.more-info:focus,
.more-info:hover {
  background-color: #669ec0;
}

.more-info:active {
  color: #ffffff;
  opacity: 0.3;

  background-color: #5496bd;
}

.reservation-button {
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;

  background-color: #766357;
  border: 0;
}

.reservation-button:focus,
.reservation-button:hover {
  background-color: #604e43;
}

.reservation-button:active {
  color: #ffffff;
  opacity: 0.3;

  background-color: #503e33;
}

.rating {
  color: #666666;

  background-color: #f2f2f2;
}

.search {
  text-align: center;
}

.search h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search p {
  line-height: 24px;
}

.search-open-form {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  background-color: #766357;
}

.search-open-form:focus,
.search-open-form:hover {
  background-color: #604e43;
}

.search-open-form:active {
  color: #ffffff;
  opacity: 0.3;
  background-color: #503e33;
}

.map {
  text-align: center;
}

.main-footer {
  padding: 36px 72px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.hashtag {
  margin: 0;
  width: 240px;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.copyright {
  margin: 0;
  width: 240px;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.footer-social ul {
  margin: 0;
  width: 400px;
  text-align: center;
  list-style: none;
}

.social-button {
  color: #000000;
}

.search-popup {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-form {
  text-align: center;
}

.search-form input[type="text"],
.search-form input[type="number"] {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  border: 0;
  background-color: #f2f2f2;
}

.search-form input[type="text"]:hover,
.search-form input[type="number"]:hover {
  border: 0;
  background-color: #ebebeb;
}

.search-form input[type="text"]:focus,
.search-form input[type="number"]:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;

  outline: none;
}

.search-button {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #81b3d2;
  border: 0;
}

.search-button:focus,
.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  color: #ffffff;
  opacity: 0.3;

  background-color: #5496bd;
}
